{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<h3>{{ album.title }}</h3>
<div style="float:right">
    <a href="{% url 'photo:album_list' %}">
    <button>앨범 목록으로..</button>
    </a>
</div>
<a href="{% url 'photo:photo_add' album_id=album.id %}">
    <button style="margin-bottom: 40px;">사진 추가</button></a>
<ul style="list-style-type:none;">
{% for photo in photos %}
<li>
    <div style="margin:auto; width:60%">
        <h4>{{ forloop.counter}}. {{ photo.title }}</h4>

        <img style='margin-bottom:20px;' src="{% if photo.img_thumbnail %}{{ photo.img_thumbnail.url }}{% else %}{{photo.img.url}}{% endif %}" alt="사진 꼭이요~!" style="display:block;">
        <p style="text-indent:20px;">{{ photo.description }}</p>

        <button id='btn-photo{{photo.id}}-like' onclick='photoLike({{ photo.pk }}, "like")' class="btn label label_default">
            <span id="photo-{{ photo.pk }}-like-count">{{ photo.like_users.count }}</span>
        </button>

        <button id='btn-photo{{ photo.id}}-dislike' onclick='photoLike({{ photo.pk }}, "dislike")' class="btn label label_default">
            <span id="photo-{{ photo.pk }}-dislike-count">{{ photo.dislike_users.count }}</span>
        </button>

        {% comment %}
        <a href="{% url 'photo:photo_like' photo_id=photo.id %}"><button style="margin-bottom:30px;">좋아요 ㅎㅎ</button></a>
        <span>{{ photo.photolike_set.count }}</span>
        <a href="{% url 'photo:photo_dislike' photo_id=photo.id %}"><button style="margin:10px 0 40px 0;">싫어요 ㅋ</button></a>
        <span style='margin-right:400px;'>{{ photo.photodislike_set.count }}</span>
        <a href="{% url 'photo:photo_delete' photo.id %}"><span>사진 삭제</span></a>
        {% endcomment %}
    </div>
</li>
{% empty %}
<p> NO photos now.</p>

{% endfor %}
</ul>

{% endblock content %}


{% block script %}
<script src="{% static 'js/photo/album_detail.js' %}"></script>
{% endblock script %}